* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
  padding-bottom: 20px;
  color: white;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

#container {
  margin: auto;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  height: 350px;
}

img {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-height: 600px) {

  h1 {
    margin-top: 5px;
    font-size: 2em;
  }

  p {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 20px;
  }

  #container {
    margin-bottom: 5px;
    position: absolute;
    right: 20px;
    left: 20px;
    top: 20px;
    bottom: 20px;
    height: 70%;
  }

  img {
    margin: auto;
    width: 40%;
    height: 70%;
    display: block;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 600px) {

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  #container {
    margin: auto;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: auto;
  }

  img {
    margin: auto;
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }
  
}